@background: #212121;

.b-player {
  margin: 0 auto;
  width: 1100px;

  &--wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background-color: @background;
  }
}
