@playlistColor: black;
@plankColor: #171717;
.b-playlists {
  height: 200px;
  position: relative;
  bottom: 275px;
  width: 100%;
  background: @playlistColor;
  &--plank {
    height: 25px;
    width: 100%;
    background-color: @plankColor;
  }
}