@dragColor: #29ABE2;
@barColor: #ACACAC;

.b-volume {
  display: inline-block;
  position: relative;
  width: 60px;
  &--container {
    background-color: @barColor;
    width: 60px;
    height: 2px;
  }
  &--draggable {
    color: @dragColor;
    width: 10px;
  }
}
