@charset "UTF-8";

@font-face {
  font-family: 'new_player_icons';
  src: url("./fonts/fontello/font/new_player_icons.eot");
  src: url("./fonts/fontello/font/new_player_icons.eot#iefix") format('embedded-opentype'),
       url("./fonts/fontello/font/new_player_icons.woff") format('woff'),
       url("./fonts/fontello/font/new_player_icons.ttf") format('truetype'),
       url("./fonts/fontello/font/new_player_icons.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'new_player_icons';
    src: url('../font/new_player_icons.svg?21247465#new_player_icons') format('svg');
  }
}
*/
#player {
  [class^="icon-"],
  [class*=" icon-"] {
    width: auto;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    background: none;
  }

  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-family: "new_player_icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: left;
    font-variant: normal;
    text-transform: none;
    line-height: 50px;
    margin: 0;
    padding: 0;
    width: auto;
  }
  .icon-pause-2:before { content: '\e857'; } /* '' */
  .icon-fast-forward-1:before { content: '\e855'; } /* '' */
  .icon-fast-backward-1:before { content: '\e856'; } /* '' */
  .icon-stop:before { content: '\e807'; } /* '' */
  .icon-stop-1:before { content: '\e808'; } /* '' */
  .icon-play-1:before { content: '\e80f'; } /* '' */
  .icon-play:before { content: '\e80e'; } /* '' */
  .icon-th-list:before { content: '\e809'; } /* '' */
  .icon-record:before { content: '\e814'; } /* '' */
  .icon-list-add:before { content: '\e83b'; } /* '' */
  .icon-wrench:before { content: '\e850'; } /* '' */
  .icon-list:before { content: '\e80a'; } /* '' */
  .icon-volume-up-1:before { content: '\e81e'; } /* '' */
  .icon-volume-off-1:before { content: '\e81b'; } /* '' */
  .icon-volume-down:before { content: '\e81c'; } /* '' */
  .icon-vimeo:before { content: '\e835'; } /* '' */
  .icon-video-circled:before { content: '\e805'; } /* '' */
  .icon-video-2:before { content: '\e82b'; } /* '' */
  .icon-twitter:before { content: '\e836'; } /* '' */
  .icon-tumblr:before { content: '\e833'; } /* '' */
  .icon-clock-1:before { content: '\e84b'; } /* '' */
  .icon-thumbs-up:before { content: '\e82d'; } /* '' */
  .icon-thumbs-down:before { content: '\e82e'; } /* '' */
  .icon-th-list-1:before { content: '\e80c'; } /* '' */
  .icon-th-large:before { content: '\e84c'; } /* '' */
  .icon-stop-2:before { content: '\e811'; } /* '' */
  .icon-star:before { content: '\e841'; } /* '' */
  .icon-volume:before { content: '\e81d'; } /* '' */
  .icon-basket-1:before { content: '\e842'; } /* '' */
  .icon-search:before { content: '\e812'; } /* '' */
  .icon-target:before { content: '\e827'; } /* '' */
  .icon-resize-small:before { content: '\e84f'; } /* '' */
  .icon-resize-full-2:before { content: '\e817'; } /* '' */
  .icon-cw:before { content: '\e851'; } /* '' */
  .icon-cancel:before { content: '\e84d'; } /* '' */
  .icon-shuffle:before { content: '\e806'; } /* '' */
  .icon-play-2:before { content: '\e810'; } /* '' */
  .icon-picture:before { content: '\e823'; } /* '' */
  .icon-picasa:before { content: '\e832'; } /* '' */
  .icon-pause:before { content: '\e830'; } /* '' */
  .icon-ok-circled:before { content: '\e84e'; } /* '' */
  .icon-network:before { content: '\e848'; } /* '' */
  .icon-mic:before { content: '\e843'; } /* '' */
  .icon-magnet-1:before { content: '\e852'; } /* '' */
  .icon-list-1:before { content: '\e80d'; } /* '' */
  .icon-info-circled:before { content: '\e82c'; } /* '' */
  .icon-indent-left:before { content: '\e849'; } /* '' */
  .icon-forward:before { content: '\e81f'; } /* '' */
  .icon-fast-forward:before { content: '\e820'; } /* '' */
  .icon-fast-backward:before { content: '\e822'; } /* '' */
  .icon-facebook:before { content: '\e83e'; } /* '' */
  .icon-comment-alt:before { content: '\e825'; } /* '' */
  .icon-down-open:before { content: '\e847'; } /* '' */
  .icon-backward:before { content: '\e821'; } /* '' */
  .icon-heart:before { content: '\e828'; } /* '' */
  .icon-headphones:before { content: '\e84a'; } /* '' */
  .icon-gift-1:before { content: '\e831'; } /* '' */
  .icon-edit:before { content: '\e83f'; } /* '' */
  .icon-download-alt:before { content: '\e82f'; } /* '' */
  .icon-up-open:before { content: '\e844'; } /* '' */
  .icon-right-open:before { content: '\e845'; } /* '' */
  .icon-left-open:before { content: '\e846'; } /* '' */
  .icon-heart-empty:before { content: '\e829'; } /* '' */
  .icon-video-alt:before { content: '\e840'; } /* '' */
  .icon-mail:before { content: '\e82a'; } /* '' */
  .icon-chart:before { content: '\e853'; } /* '' */
  .icon-googleplus:before { content: '\e837'; } /* '' */
  .icon-eye-off:before { content: '\e838'; } /* '' */
  .icon-comment:before { content: '\e824'; } /* '' */
  .icon-cogs:before { content: '\e839'; } /* '' */
  .icon-cog:before { content: '\e83a'; } /* '' */
  .icon-vkontakte:before { content: '\e834'; } /* '' */
  .icon-share:before { content: '\e826'; } /* '' */
  .icon-basket:before { content: '\e800'; } /* '' */
  .icon-resize-full:before { content: '\e815'; } /* '' */
  .icon-magnet:before { content: '\e83c'; } /* '' */
  .icon-chart-pie:before { content: '\e819'; } /* '' */
  .icon-pause-1:before { content: '\e854'; } /* '' */
  .icon-play-3:before { content: '\e813'; } /* '' */
  .icon-beaker:before { content: '\e802'; } /* '' */
  .icon-list-bullet:before { content: '\e80b'; } /* '' */
  .icon-gauge:before { content: '\e816'; } /* '' */
  .icon-sitemap:before { content: '\e803'; } /* '' */
  .icon-youtube:before { content: '\e83d'; } /* '' */
  .icon-gift:before { content: '\e804'; } /* '' */
  .icon-volume-off:before { content: '\e801'; } /* '' */
  .icon-volume-up:before { content: '\e81a'; } /* '' */
  .icon-clock:before { content: '\e818'; } /* '' */
}
