.b-progressbar {
  position: relative;

  &--container {
    background-color: @progressbarColor;
    height: 6px;
  }
  &--drag {
    width: 10px;
    height: 6px;
    background-color: green;
  }

  &--loaded {
    background-color: @loaderColor;
    height: 6px;
  }

  &--wrapper {
    display: inline-block;
    color: @textColor;
  }

  &--track--info {
    display: inline-block;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 50%;

    line-height: 13px;

    & > div {
      display: inline;
      float: left;
      line-height: 13px;
    }

    &-name {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 150px;
      display: inline-block;
      float: left;
    }

    &-artist {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 150px;
      display: inline-block;
    }

    &-delimiter {
      float:left;
      margin: 0 3px;
      display: inline-block;
    }
  }

  &--track--time {
    float: right;
  }
}
